<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{Challenge}}</title>
    <style>
        head {background-color: aqua}
        body {background-color: aqua}
        body {color: crimson}
    </style>
</head>
<body>
Name: <input type="text" id ='myText' value ='Enter Name Here'>

<button onclick="myFunction()">Print Name</button>

<a href = "about">{{about}}</a> <br><br><br>
<a href = "currency">{{currency}}</a>

<script>
    function myFunction() {
        var x = document.getElementById("myText").value;
        document.getElementById('demo').innerHTML = x;
    }
</script>
</body>
{{> footer}}
</html>